body {
  margin: 0;
  padding: 0;

}

.Container {
  border: 2px solid purple;
  background-color: rgb(243, 235, 243);

}

.header {
  display: flex;
  height: 70px;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.subHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.navBar {
  display: flex;

  a {
    padding: 10px;
    font-weight: 500px;
    cursor: pointer;
  }
}

.burgerMenu {
  display: none;
}

a:hover {
  color: plum;
  /* background-color: purple; */
}

.button {
  display: flex;
  justify-content: space-between;
  gap: 9px;
}

#sign {
  border-radius: 4px;
  border: 1px solid purple;
  padding: 6px 12px;
  font-size: 15px;
  font-weight: 600;
}

#trial {
  background: linear-gradient(to right, rgb(192, 61, 192), #c778eb, #df81cb, #d5a0a8);
  color: white;
  border: 1px solid rgb(219, 5, 219);
  border-radius: 4px;
  padding: 7px 20px;
  font-size: 15px;
  font-weight: 700;
}

.logo {
  justify-content: center;
  align-items: center;
}

.subcontain {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: auto;
  padding: 20px 0 20px 0;

}

.leftcontain {
  width: 50%;
  /* flex-direction: column;
  justify-content: center; */


}

.imgcontain {
  background: radial-gradient(purple, violet, plum);
  border-radius: 50%;
  border: 5px dashed purple;
  height: 70%;
  width: 70%;
  /* height: 90%; */
  /* background-position: -20px inherit */

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;

  }
}

.rightcontain {


  width: 50%;
  height: 50%;
  margin-left: 50px;
}

.row {
  background: linear-gradient(to right, rgb(192, 61, 192), #c778eb, #df81cb, #d5a0a8);
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

.row1{
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 10px; 
}

.magicLeap {
 width: 120px;  /* Adjust as needed */
    /* height: 50px;  */
}

.micorsoft, .Codecov{
  display: flex;
  gap: 3px;
}

.mainSection {
  /* background-color: red; */
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.submainSection {
  /* background-color: blue; */
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90%;
  height: 90%;
  margin: 30px 0 30px 0;
  padding: 50px 0 10px 0;
  /* margin: auto; */
}

.searchSection {
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  color: rgb(20, 20, 20);
  margin-bottom: 20px;
}

.inputSection {
  position: relative;
  display: inline-block;
  border: 1px solid #dfdbdb;
  border-radius: 4px;
  padding: 4px;

  input {
    border: none;
    outline: none;
    padding: 8px 30px 8px 60px;
    width: 500px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .search {
    position: absolute;
    left: 40px;
    top: 20%;
    transform: translateX(-90%);
    color: #777;
  }
}

.searchButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px
}

.searchBtn {
  width: 120px;
  height: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}


@media screen and (max-width: 600px) and (min-width: 300px) {
  .Container {
    width: 100%;
    height: 100%;
    ;
  }

  .header {
    flex-direction: column;
    height: 100px;
    width: 100%;
  }

  .subHeader {
    flex-direction: row;
    align-items: center;
    width: 90%;
    height: 90%;
  }

  .navBar {
    display: none;
  }

  .burgerMenu {
    display: flex;
    cursor: pointer;
  }

  .button {
    display: none;
  }

  .subcontain {
    flex-direction: column-reverse;

    width: 100%;
    height: 100%;
    /* margin: auto; */
  }

  .leftcontain {
    width: 90%;
    /* flex-direction: column;
    justify-content: center; */


  }

  .rightcontain {


    width: 90%;
    height: 90%;
    /* margin-left: 50px; */
  }

  .row {
  background: linear-gradient(to right, rgb(192, 61, 192), #c778eb, #df81cb, #d5a0a8);
  display: flex;
  gap: 10px;
  align-items: center;
  overflow: none;
}



.inputSection{
margin-left: 30px;
  position: relative;
  display: inline-block;
  border: 1px solid #dfdbdb;
  border-radius: 4px;
  padding: 4px;
  overflow: none;

  input {
    
    padding: 8px 30px 8px 60px;
    width: 280px;
    
    
  }

  /* .search {
    position: absolute;
    left: 40px;
    top: 20%;
    transform: translateX(-90%);
    color: #777;
  } */
}
.searchButton{
  height: 50px;
  width: 100%;
  /* margin-left: 100px; */
  /* margin: auto; */
   overflow: none;
 padding-left: 0 50px 0 50px;
}
}

